<div *ngIf="team" class="main-div">
  <mat-card class="team-detail-card">

    <mat-card-header>
      <mat-form-field appearance="standard">
        <mat-label> Enter a name for the team</mat-label>
        <input matInput  [(ngModel)]="team.name" >
      </mat-form-field>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <ng-container *ngFor="let mate of team.teammates">
        <mat-list-item >
          <a routerLink="/teammate/{{mate.id}}">{{mate.name}}</a>
        </mat-list-item>
          <div style="padding-left: 30px ; margin-bottom: 10px">
          Skills :
          <ng-container *ngFor="let skill of mate.skills">
              {{skill.name}} ,
          </ng-container>
          </div>
        </ng-container>
      </mat-list>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="secondary" (click)="goBack()">Go back</button>
      <button mat-raised-button color="primary" (click)="saveTeam()">Save</button>
      <button mat-raised-button color="primary" (click)="deleteTeam()">Delete</button>
<ng-container *ngIf="team.id !=0">
      <a routerLink="/teams/{{team.id}}/teammate"><button mat-raised-button color="primary">Add teammate</button></a>
</ng-container>
    </mat-card-actions>

  </mat-card>
</div>
