/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}
.menuItem {
  padding-left: 8px;
}

::ng-deep .mat-card{

  border-radius: 10px !important;
  border: 1px solid #949292;
  margin : 5px;
}


.main-div{
  display: flex;
  justify-content: center;
}

::ng-deep .mat-form-field {
  width: 500px !important;
}
::ng-deep .mat-label {
  width: 500px !important;
}
::ng-deep .mat-select {
  width: 500px !important;
}

::ng-deep .mat-option {
  width: 500px !important;
}


