<div class="main-div">
<mat-card class="team-card">
  <mat-card-header>
    <mat-card-title>The teams</mat-card-title>
    <mat-card-subtitle>Click on a team to view the teammates</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

<mat-list>
  <mat-list-item *ngFor="let hero of teams">
    <a routerLink="/detail/{{hero.id}}">
      {{hero.name}}
    </a>
  </mat-list-item>
</mat-list>

    </mat-card-content>

  <mat-card-actions>
    <a routerLink="/detail/"><button mat-raised-button color="primary" (click)="addTeam()">Add a team</button></a>
    </mat-card-actions>

</mat-card>
</div>

